html, body {
  margin: 0;
  padding: 0;
  background: #060810;
  font-family: Arial, sans-serif;
  height: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#chart {
  flex: 3;
}

#rsi {
  flex: 1;
}
